* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    background: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.item {
    width: 200px;
    height: 200px;
    border: 1px solid #777;
    margin-top: 30px;
    background-color: orange;
}
.item:hover {
    transform: scale(1.2);
}
