* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--dark-bg: #0d1117;
	--light-color: #efefef;
}
body {
	background-color: var(--dark-bg);
	color: var(--light-color);
	min-height: 100vh;
}
